<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="https://upload.wikimedia.org/wikipedia/commons/c/c0/Ideal_framst%C3%A4llning_av_eleusinska_j%C3%A4mte_atenska_gudomligheter_och_eleusinska_pr%C3%A4ster%2C_Nordisk_familjebok.png">
</div>
<h1>{{title}}</h1>
<nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/gods">Gods</a>
  <a routerLink="/titans">Titans</a>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>